# LiveKit Cloud bullshit goes here
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Discord Bot Token
DISCORD_TOKEN=
# Discord Application/Client ID 
DISCORD_CLIENT_ID=

# Cartesia TTS
CARTESIA_API_KEY=

# Groq 
GROQ_API_KEY=

# Deepgram STT
DEEPGRAM_API_KEY=